@font-face {
  font-family: 'Gotham Rounded';
  src: url('./fonts/GothamRnd-Book.otf') format('truetype');
}

:root {
  --mColor: #ff7fd4;
  --mFont: 'Gotham Rounded', sans-serif;

  font-family: var(--mFont);
}
